<% events.forEach(item => { %>
<section class="event-section">
  <% let date = new Date(item.date).toISOString().substring(0, 10); %>
  <p><%= date %></p>
  <p><%= item.start_time %></p>
  <p><%= item.title %></p>
  <p><%= item.description %></p>
  <form action="/pages/<%= item.id %>" method="get">
    <input type="hidden" name="uID" value="<%- uID %>">
    <button type="submit">Edit</button>
  </form>
</section>
<% }) %>
