<% events.forEach(item => { %>
  <p><%= item.date %></p>
  <p><%= item.start_time %></p>
  <p><%= item.title %></p>
  <p><%= item.description %></p>
  <a href="/pages/<%= item.id %>">Edit event</a>
<% }) %>

