<% events.forEach(item => { %>
<section class="event-section">
  <% item.date = new Date().toISOString().substring(0, 10); %>
  <p><%= item.date %></p>
  <p><%= item.start_time %></p>
  <p><%= item.title %></p>
  <p><%= item.description %></p>
  <a href="/pages/<%= item.id %>">Edit event</a>
</section>
<% }) %>
