<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body id="dashboard-body">
    <%- include('../partials/header', uID) %>

    <form action="/location" method="post">
      <input type="text" name="search" placeholder="Enter a new location" required/>
      <button type="submit">New Search</button>
    </form>
    <section id="weather-section">
      <h2 class="location-name"><%= location.formatted_query %></h2>
      <img src="<%= weather[0].icon %>"> </img>
      <p><%= weather[0].time %></p>
      <p><%= weather[0].forecast %></p>
      <p>High: <%= weather[0].high %></p>
      <p>Low: <%= weather[0].low %></p>

    </section>
      <% news.forEach(story =>{ %>
        <section class="news-section">
          <img src='<%= story.image_url%>'></img>
          <div class="news-text">
            <p><a href="<%= story.url %>"><%= story.title %></a></p>
            <p><%= story.author %></p>
            <p><%= story.description %></p>
            <p><%= story.name %></p>
          </div>
        </section> 
      <% }) %>
      <div class="hidden-div"></div>
    <section class="footer">
      <%- include('../partials/footercontent', {uID}) %>
    </section>
  </body>
</html>

