<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <header>
  
  </header>
  <body>
    <%- include('../partials/header', uID) %>
    <div class="dashboard">
    
    <h2 class="location-name"><%= location.formatted_query %></h2>

    <form action="/location" method="post">
      <input type="text" name="search" required/>
      <button type="submit">New Search</button>
    </form>

    <p><%= weather[0].time %></p>
    <p><%= weather[0].forecast %></p>

    <% news.forEach(story =>{ %>
      <p><%= story.name %></p>
      <p><%= story.author %></p>
      <p><%= story.title %></p>
      <img src='<%= story.image_url%>'></img>
      <p><%= story.description %></p>
      <p><%= story.url %></p>
      <p><%= story.publishedAt %></p>
    <% }) %>
    </div>  
    <section class="footer">
    <%- include('../partials/footercontent') %>
    </section>
  </body>
</html>

