<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body id="dashboard-body">
    <%- include('../partials/header', uID) %>
    <h1> DAILY PLAN-IT</h1>
    <form action="/location" method="get">
      <button type="submit">Dashboard</button>
    </form>

    <form action="/eventData" method="get">
      <button type="submit">View Events</button>
    </form>
    
    <h2 class="location-name"><%= location.formatted_query %></h2>

    <form action="/location" method="post">
      <input type="text" name="search" required/>
      <button type="submit">New Search</button>
    </form>
    <section id="weather-section">
      <p><%= weather[0].time %></p>
      <p><%= weather[0].forecast %></p>
    </section>
      <% news.forEach(story =>{ %>
        <section class="news-section"></section>
        <p><%= story.name %></p>
        <p><%= story.author %></p>
        <p><%= story.title %></p>
        <img src='<%= story.image_url%>'></img>
        <p><%= story.description %></p>
        <p><%= story.url %></p>
        <p><%= story.publishedAt %></p>
        </section> 
      <% }) %>
    <section class="footer">
      <%- include('../partials/footercontent') %>
    </section>
  </body>
</html>

